<div class="container-fluid">
  <header class="row">
    <div class="logo col-sm-2">
      <img src="images/google.png" alt="Google">
    </div><!-- logo -->

    <div class="search-bar col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." (input)="searchValueEntered($event.target.value)">
        <span class="input-group-btn">
          <button class="btn btn-main">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><!-- /input-group -->

      <span class="arrow caret"></span>
    </div><!-- search-bar -->

    <div class="profile col-sm-4">
      <ul class="profile-icons list-inline pull-right">
        <li>Nizar</li>
        <li>
          <span class="glyphicon glyphicon-th"></span>
        </li>
        <li class="bell">
          <span class="glyphicon glyphicon-bell"></span>
        </li>
        <li>
          <img src="images/profile.jpg" class="img-circle">
        </li>
      </ul>
    </div><!-- profile -->
  </header>

  <div class="control-bar row">
    <div class="menu col-sm-2">

      <div class="ng-dropdown ">
        <select (change)="modeChanged($event.target.value)">
          <option *ngFor="let mode of modes" [value]="mode.id">{{mode.title}}</option>
        </select>
      </div>

    </div><!-- menu -->

    <div class="controls col-sm-10">
      <ul class="control-list list-inline">
        <li *ngIf="navigateBackAvailable">
          <button class="btn btn-control">
            <span class="glyphicon glyphicon-menu-left"></span>
          </button>
        </li>
        <li *ngIf="selectManyAvailable">
          <button class="btn btn-control">
            <input type="checkbox" class="mail-select" (change)="selectionChanged($event.target.checked)">
          </button>
        </li>
        <li *ngIf="deleteAvailable">
          <button class="btn btn-control" (click)="controlPanel.deleteRaise()">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>
        <li *ngIf="moreActionsAvailable">
          <button class="text-btn btn btn-control">
            <strong>More</strong>
            <span class="caret"></span>
          </button>
        </li>
      </ul>
    </div><!-- controls -->
  </div><!-- control-bar -->

  <router-outlet></router-outlet>

</div>