<div class="inbox col-sm-10">
  <ul class="list-unstyled">
    <li class="email-item row unread" *ngFor="let letter of letters" (click)="viewMessageRequested(letter)">
      <div class="people col-sm-3">
        <ul class="mail-icons list-inline">
          <li>
            <input type="checkbox" class="mail-select" [(ngModel)]="letter.isChecked" (change)="selectChanged($event.target.checked)">
          </li>
        </ul>

        <span class="people-names">
          {{letter.from}}
        </span>
      </div><!-- people -->

      <div class="message col-sm-7">
        <div class="clipper">
          <h3>{{letter.subject}}</h3>
          -
          <p>{{letter.body}}</p>
        </div>
      </div><!-- message -->

      <div class="date col-sm-2">
        <button class="btn btn-xs" (click)="deleteRequested(letter)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div><!-- date -->
    </li>

  </ul>
</div><!-- inbox -->